<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>发布xmind文件测试</title>
</head>
<body>
    <h1> 发布xmind文件测试 </h1>
    <form action="/create_xmind" method="post">
        <br>姓名： <input type="text" name="name"> </br>
        {% for item in form_items %}
            {% if item.type == "text" %}
            <br>{{ item.name }}: <input type="text" name="{{ item.id }}"> </br>
            {% endif %}
        {% endfor %}
        <input type="submit" value="提交">
        {% csrf_token %}
    </form>
    <p style="color:red">{{ rlt }}</p>
</body>
</html>